*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    
    background-color: white;
    
    justify-content: center;
    align-items: center;
    

    
}
.text{
   
    
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: center;
    font-size: medium;
    margin-top: 5vh;
    
}
.container{
    padding: 2vh ;
}
.text-cointainer p{
    width: 70%;
}

.box-container{
    margin-top: 100px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    
  
    


}
.music-box{
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 30px;
  
    box-shadow: 0px -2px 16px 0px #7d7d7d ;
    cursor: pointer;
    margin-left: 4vw;
    margin-top: 2vh;
    align-items: center;
    display: flex;justify-content: center;
}
/* background-image: linear-gradient(to top,  0%, #fbc2eb 100%); */


